*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial;
}
a{
	text-decoration: none;
}
#wrapper{
	margin:0px auto;
	width: 1020px;
	min-height: 965px;
	background: #fefefe;
	padding:0px 10px;
}
#banner{
	width: 1002px;
	/*background: orange;*/
	min-height: 82px;
	position: relative;
}
body{
	background-image: url('../images/bg.jpg');
	min-height: 1058px;
}
#logo_img{
	position: absolute;
	float:left;
	top:27px;
	left:22px;

}
#contact{
	float: left;
	position: relative;
	position: absolute;
	top:33px;
	left: 800px;
}
#phone{
	color: #307814;
	font-weight: bold;
	font-size: 21px;
	position: absolute;
	top:-3px;
	left: 27px;
}
#nav_me{
	width: 1000px;
	background: #307814;
}
#nav_me form div{
/*	background: red;*/
	width: 233px;
	height: 29px;
	position: relative;


}
#nav_me form div input[type="text"]{
	width: 233px;
	height: 29px;
	font-size: 12px;

}
input[type="image"]{
	position: absolute;
	top: 2px;
	right:5px;
}
#nav_me ul li a{
	padding: 17px 13px;
	color: white;
	font-size: 13px;
}
#nav_me ul li a.active{
	color: #e1ff6b;
	background: #1d490c;

}
#nav_me ul li a:hover{
	color: #e1ff6b;
	background: #1d490c;

}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

#form_nav{
/*	background: pink;*/
	width: 233px;
	height: 29px;
	padding: 0px 0px;
	margin-left: 17px;
	margin-top: 11px;
}

#footer{
	width: 1002px;
	min-height: 124px;
	background-image: url('../images/bg.jpg');
	position: relative;
}
#link_web{
	margin-left: 275px;
	margin-top: 38px;
	width: 228px;
	height: 30px;

}
#copy_right{
	width: 587px;
	height: 32px;
	color: #696969;
	font-size: 12px;
	left: 538px;
	top:35px;
	position: absolute;
	
}
/*div.form-group{
	width: 600px;
	margin:0px auto;
}
*/
#form_lienhe{
	width: 700px;
	margin: 0px auto;
}
.error{
	color: red;
	font-weight: bold;
	
}